/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }

  /* Adding Scroll Bar */
  #ufo-table {
    min-height: 70px;
    padding: 5px;
    margin: 70px;
    display: block;
    overflow: scroll;
    white-space: nowrap;
    max-width: 100%;
    max-height: 596px;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }
  
  .legend {
    line-height: 18px;
    color: #555;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  /* Title Animnation  */
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
  /* END - Title Animnation  */